# The network devices on which we create VFs.
SRIOV_PFS="{{ bond_hs_bond_slaves | join(' ') }}"

# The number of VFs to create on each PF.
SRIOV_VF_COUNT=31

# The name of the OVS bridge to which dangling SR-IOV VFs should be moored
SRIOV_OVS_BRIDGE={{ bond_hs_interface }}-ovs

